---
import LayoutStacked from '~/app/LayoutStacked.astro'
import FormForgotPassword from '~/modules/FormForgotPassword.astro'
---

<LayoutStacked>
  <div class='flex min-h-screen pb-[12vh] align-middle'>
    <FormForgotPassword />
  </div>
</LayoutStacked>
