---
import LayoutStacked from '~/app/LayoutStacked.astro'
import FormResetPassword from '~/modules/FormResetPassword.astro'
---

<LayoutStacked>
  <div class='flex min-h-screen pb-[12vh] align-middle'>
    <FormResetPassword />
  </div>
</LayoutStacked>
