---
import LayoutStacked from '~/app/LayoutStacked.astro'
import FormSignIn from '~/modules/FormSignIn.astro'
---

<LayoutStacked>
  <div class='flex min-h-screen pb-[12vh] align-middle'>
    <FormSignIn />
  </div>
</LayoutStacked>
