---
import LayoutStacked from '~/app/LayoutStacked.astro'
import FormSignUp from '~/modules/FormSignUp.astro'
---

<LayoutStacked>
  <div class='flex min-h-screen pb-[12vh] align-middle'>
    <FormSignUp />
  </div>
</LayoutStacked>
