---
/* eslint max-lines: 'off' */
---
<head>
    <!-- Usamos defer para asegurarnos de que los scripts se carguen en el orden correcto -->
    <script src="/src/lib/jspdf.umd.min.js" defer></script>
    <script src="/src/lib/jspdf.plugin.autotable.min.js" defer></script>

    <!-- Otros scripts -->
    <script src='/src/scripts/dashboard.js' defer></script>
    <script src='/src/scripts/export.js' defer></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	
</head>


<div class='px-4 pt-6'>
  <div class='my-4 grid grid-cols-1 xl:grid-cols-1 xl:gap-4'>
    <!-- Right Content -->
    <div class='grid gap-4'>
      <div
        class='rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6'
      >
        <div
          class='items-center justify-between border-b border-gray-200 pb-4 dark:border-gray-700 sm:flex'
        >
          <div class='mb-4 w-full sm:mb-0'>
            <h3 class='text-base font-normal text-gray-500 dark:text-gray-400'>
              Resultados de auditoria
            </h3>
            <!-- Nombre de la empresa -->
            <span
			id="nombreEmpresa"
              class=' text-2xl font-bold leading-none text-gray-900 dark:text-white sm:text-3xl'
              >
            </span>
          </div>
        </div>
        <div class='w-full' id='chart'></div>
		<button id="download-pdf-btn">Descargar info</button>

        <!-- Card Footer -->
        <!--<div
					class="flex items-center justify-between pt-3 mt-4 border-t border-gray-200 sm:pt-6 dark:border-gray-700"
				>
					<div>
						<button
							class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
							type="button"
							data-dropdown-toggle="sales-by-category-dropdown"
							>Last 7 days <svg
								class="w-4 h-4 ml-2"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								><path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M19 9l-7 7-7-7"></path></svg
							></button
						>-->
        <!-- Dropdown menu -->
        <!--<div
							class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
							id="sales-by-category-dropdown"
						>
							<div class="px-4 py-3" role="none">
								<p
									class="text-sm font-medium text-gray-900 truncate dark:text-white"
									role="none"
								>
									Sep 16, 2021 - Sep 22, 2021
								</p>
							</div>
							<ul class="py-1" role="none">
								<li>
									<a
										href="#"
										class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
										role="menuitem">Yesterday</a
									>
								</li>
								<li>
									<a
										href="#"
										class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
										role="menuitem">Today</a
									>
								</li>
								<li>
									<a
										href="#"
										class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
										role="menuitem">Last 7 days</a
									>
								</li>
								<li>
									<a
										href="#"
										class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
										role="menuitem">Last 30 days</a
									>
								</li>
								<li>
									<a
										href="#"
										class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
										role="menuitem">Last 90 days</a
									>
								</li>
							</ul>
							<div class="py-1" role="none">
								<a
									href="#"
									class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
									role="menuitem">Custom...</a
								>
							</div>
						</div>
					</div>
					<div class="flex-shrink-0">
						<a
							href="#"
							class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700"
						>
							Sales Report
							<svg
								class="w-4 h-4 ml-1"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								><path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M9 5l7 7-7 7"></path></svg
							>
						</a>
					</div>
				</div>-->
      </div>
    </div>
  </div>
  
  
  
  <script>
    // import './DashBoard.client.ts'
  </script>

  <style is:global>
    /* chart styles */
    .apexcharts-tooltip {
      @apply rounded-lg border-0 bg-white text-gray-500 shadow-lg dark:bg-gray-700 dark:text-gray-400 !important;
    }

    .apexcharts-tooltip .apexcharts-tooltip-title {
      @apply border-b border-gray-200 bg-gray-100 px-4 py-2 dark:border-gray-500 dark:bg-gray-600 !important;
    }

    .apexcharts-xaxistooltip {
      @apply rounded-lg border-0 bg-white text-gray-500 shadow-lg dark:bg-gray-700 dark:text-gray-300 !important;
    }

    .apexcharts-tooltip .apexcharts-tooltip-text-y-value {
      @apply dark:text-white;
    }

    .apexcharts-xaxistooltip-text {
      @apply text-sm font-medium !important;
    }

    .apexcharts-xaxistooltip:before,
    .apexcharts-xaxistooltip:after {
      @apply border-0 !important;
    }
  </style>
</div>

