---
import { Switch } from '~/components'

const empresa = [
  'TRATADOS EN FORMA LICITA, TRANSPARENTE Y LEGAL CON RESPECTO AL INTERESADO?',
  'SON RECOGIDOS CON LOS FINES YA DETERMINADOS DE MANERA EXPLICITA Y LEGITIMA?',
  'SON ADECUADOS, PERTINENTES Y LIMITADOS, CON RELACIÓN A LOS FINES PARA LOS QUE SON TRATADOS?',
  'SON EXACTOS Y ACTUALIZADOS?',
  'SE TRATAN CON MECANISMOS DE SEGURIDAD ADECUADA?',
  'SE GUARDAN Y ARCHIVAN, YA AÚN CUMPLIDA LA FINALIDAD DEL TRATAMIENTO?',
  'EL INTERESADO DIO SU CONSENTIMIENTO?',
  'PARA UNO O VARIOS FINES?',
  'LA EMPRESA ES CAPAZ DE DEMOSTRAR QUE EL INTERESADO DIO SU CONSENTIMIENTO DE FORMA LIBRE Y EXPRESA?'
]
---
<head>
  <script type="module" src='/src/scripts/bases.js ' defer is:inline></script>
</head>

<section class='rounded-lg bg-white p-6 shadow-md dark:bg-gray-800'>
  <div class='m-auto flex'>
    <h1
      class='m-auto rounded-lg bg-white p-6 text-4xl font-extrabold text-gray-700 shadow-md dark:bg-gray-800 dark:text-gray-400'
    >
      CUMPLIMIENTO DE LOS PRINCIPIOS RELATIVOS AL TRATAMIENTO DE DATOS
      PERSONALES
    </h1>
  </div>
  <h2 class='mb-4 text-2xl font-semibold text-gray-800 dark:text-white'>
    LOS DATOS PERSONALES QUE LA EMPRESA TRATA SON?
  </h2>
  <form id="datosEmpresa" action='/submit' method='post'>
    {
      empresa.map((pregunta, index) => (
        <Switch id={`switch-${index}`} label={pregunta} />
      ))
    }
    <button
      type='submit'
      class='mt-4 w-full rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto'
    >
      Enviar
    </button>
  </form>
</section>
