---
import Code from 'astro/components/Code.astro'

import AstroLogo from '~/assets/images/astro-icon.svg?raw'
import FlowbiteLogo from '~/assets/images/flowbite-logo.svg?raw'

import * as readMe from '../../README.md'
import { SITE_TITLE } from '~/app/constants'
---

<div
  class='mb-20 bg-gradient-to-r from-slate-100 to-slate-200 p-4 text-slate-800 shadow-xl shadow-slate-200 dark:from-slate-900 dark:to-slate-800 dark:text-slate-100 dark:shadow-slate-900 lg:p-16'
>
  <header
    class='mt-16 flex w-full flex-col flex-wrap items-center justify-center p-8'
  >
    <div class='flex w-full justify-center'>
      <div
        set:html={AstroLogo}
        class='svg-inline h-16 w-16 text-violet-700 dark:text-violet-100'
      />
    </div>

    <div class='format mt-32 dark:format-invert lg:format-lg'>
      <p
        class='text-4xl leading-tight text-slate-600 dark:text-slate-200 lg:text-8xl'
      >
        Hello <a
          rel='noopener nofollow'
          href='https://astro.build'
          class='bg-gradient-to-br from-pink-400 to-violet-800 bg-clip-text font-bold text-transparent no-underline dark:from-pink-300 dark:to-violet-700'
          >Astro</a
        >…
        <br />meet <a
          rel='noopener nofollow'
          href='https://flowbite.com'
          class='font-bold text-blue-600 no-underline dark:text-blue-500'
          >Flowbite</a
        >!
      </p>
    </div>

    <div class='my-16 flex w-full justify-center'>
      <div set:html={FlowbiteLogo} class='svg-inline h-16 w-16' />
    </div>
  </header>

  <section class='flex w-full justify-center pb-24'>
    <div class='format w-full dark:format-invert'>
      <Code
        lang={'powershell' /* Looks cool */}
        code={`git clone \\
https://github.com/themesberg/flowbite-astro-admin-dashboard.git`}
      />
    </div>
  </section>

  <article class='flex justify-center pb-32 pt-32'>
    <div class='readme format w-full dark:format-invert lg:format-lg'>
      <h1 class='text-center'>
        <!-- {readMe.getHeadings()[0].text} -->
        {SITE_TITLE}
      </h1>
      <readMe.Content />
    </div>
  </article>
</div>

<style>
  /* Override in Markdown H1 title */
  .readme :global(h1:nth-of-type(2)) {
    display: none;
  }

  .svg-inline :global(svg) {
    height: 100%;
    width: 100%;
  }
</style>
