<html lang='es'>
  <head>
    <title>Secure Tenet - Protección Digital de Alto Nivel</title>
    <meta
      name='description'
      content='Secure Tenet ofrece soluciones avanzadas de protección digital para empresas y particulares, asegurando la máxima seguridad y privacidad.'
    />
    <script src='/src/scripts/auth.js' defer></script>
  </head>
  <body class='bg-gray-100 text-gray-900'>
    <main>
      <section
        class='hero relative flex h-screen items-center justify-center bg-gray-200 py-12 text-center'
      >
        <img
          src='/banner_landing.jpg'
          alt='Secure Tenet Hero Image'
          class='absolute inset-0 h-full w-full object-cover opacity-80'
        />
        <div class='container relative z-10 mx-auto px-4'>
          <h1 class='mb-4 text-4xl font-bold text-white md:text-6xl'>
            Bienvenido a Secure Tenet
          </h1>
          <p class='mb-6 text-lg text-white md:text-2xl'>
            Soluciones avanzadas de protección digital para empresas y
            particulares.
          </p>
          <a
            href='#services'
            class='btn-primary rounded bg-blue-500 px-4 py-2 text-white transition hover:bg-blue-600'
            >Descubre Más</a
          >
        </div>
      </section>

      <section id='services' class='services py-12'>
        <div class='container mx-auto'>
          <h2 class='mb-8 text-center text-3xl font-bold'>
            Nuestros Servicios
          </h2>
          <div class='service-cards grid grid-cols-1 gap-8 md:grid-cols-3'>
            <div
              class='service-card rounded bg-white p-6 shadow transition hover:shadow-lg'
            >
              <div class='icon mb-4'>
                <img
                  src='/icons/cybersecurity.png'
                  alt='Icono de Seguridad Cibernética'
                  class='mx-auto w-64'
                />
              </div>
              <h3 class='mb-4 text-2xl font-semibold'>Seguridad Cibernética</h3>
              <p>
                Protege tus datos y sistemas con nuestras soluciones avanzadas
                de ciberseguridad.
              </p>
              <ul class='my-4 list-inside list-disc text-left'>
                <li>Monitoreo continuo</li>
                <li>Protección contra malware</li>
                <li>Prevención de brechas de seguridad</li>
              </ul>
              <a href='#contact' class='text-blue-500 hover:underline'
                >Más Información</a
              >
            </div>
            <div
              class='service-card rounded bg-white p-6 shadow transition hover:shadow-lg'
            >
              <div class='icon mb-4'>
                <img
                  src='/icons/privacy-consulting.png'
                  alt='Icono de Consultoría de Privacidad'
                  class='mx-auto w-64'
                />
              </div>
              <h3 class='mb-4 text-2xl font-semibold'>
                Consultoría de Privacidad
              </h3>
              <p>
                Asesoramiento experto para mantener tu privacidad en el entorno
                digital.
              </p>
              <ul class='my-4 list-inside list-disc text-left'>
                <li>Cumplimiento normativo</li>
                <li>Gestión de datos personales</li>
                <li>Evaluaciones de impacto de privacidad</li>
              </ul>
              <a href='#contact' class='text-blue-500 hover:underline'
                >Más Información</a
              >
            </div>
            <div
              class='service-card rounded bg-white p-6 shadow transition hover:shadow-lg'
            >
              <div class='icon mb-4'>
                <img
                  src='/icons/security-audit.png'
                  alt='Icono de Auditoría de Seguridad'
                  class='mx-auto w-64'
                />
              </div>
              <h3 class='mb-4 text-2xl font-semibold'>
                Auditoría de Seguridad
              </h3>
              <p>
                Evaluamos la seguridad de tus sistemas para identificar y
                corregir vulnerabilidades.
              </p>
              <ul class='my-4 list-inside list-disc text-left'>
                <li>Auditorías de red</li>
                <li>Pruebas de penetración</li>
                <li>Recomendaciones de mejora</li>
              </ul>
              <a href='#contact' class='text-blue-500 hover:underline'
                >Más Información</a
              >
            </div>
          </div>
        </div>
      </section>

      <section id='about' class='about bg-gray-200 py-12'>
        <div class='container mx-auto'>
          <h2 class='mb-8 text-center text-3xl font-bold'>Sobre Nosotros</h2>
          <div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
            <div class='flex flex-col justify-center'>
              <p class='mb-4'>
                En Secure Tenet, nos dedicamos a proporcionar las soluciones de
                seguridad más avanzadas y confiables. Nuestro equipo de expertos
                trabaja incansablemente para garantizar que tus datos y sistemas
                estén siempre protegidos.
              </p>
              <p class='mb-4'>
                Desde nuestra fundación en 2023, hemos crecido para convertirnos
                en líderes en el campo de la ciberseguridad, ayudando a miles de
                empresas y particulares a mantener sus datos seguros.
              </p>
              <p>Nuestros valores fundamentales incluyen:</p>
              <ul class='my-4 list-inside list-disc'>
                <li>Integridad y Transparencia</li>
                <li>Innovación Continua</li>
                <li>Compromiso con la Excelencia</li>
              </ul>
            </div>
            <div class='flex flex-col items-center justify-center'>
              <img
                src='/team.jpg'
                alt='Nuestro Equipo'
                class='mb-4 rounded shadow-lg'
              />
              <blockquote class='text-center italic text-gray-700'>
                "Secure Tenet nos ha brindado una tranquilidad sin igual en la
                protección de nuestros datos. ¡Altamente recomendados!" - Coris
                Group
              </blockquote>
            </div>
          </div>
        </div>
      </section>

      <section id='contact' class='contact py-12'>
        <div class='container mx-auto'>
          <h2 class='mb-8 text-center text-3xl font-bold'>Contacto</h2>
          <p class='mb-8 text-center'>
            ¿Tienes alguna pregunta o necesitas más información? Contáctanos y
            estaremos encantados de ayudarte.
          </p>
          <form class='mx-auto max-w-lg'>
            <div class='m-2 mb-4'>
              <label for='name' class='block text-gray-700'>Nombre:</label>
              <input
                type='text'
                id='name'
                name='name'
                class='w-full rounded border px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500'
                required
              />
            </div>
            <div class='m-2 mb-4'>
              <label for='email' class='block text-gray-700'
                >Correo Electrónico:</label
              >
              <input
                type='email'
                id='email'
                name='email'
                class='w-full rounded border px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500'
                required
              />
            </div>
            <div class='m-2 mb-4'>
              <label for='message' class='block text-gray-700'>Mensaje:</label>
              <textarea
                id='message'
                name='message'
                class='w-full rounded border px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500'
                required></textarea>
            </div>
            <button
              type='submit'
              class='rounded bg-blue-500 px-4 py-2 text-white transition hover:bg-blue-600'
              >Enviar</button
            >
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
