---
interface Props {
  id: string
  checked?: boolean
  class?: string
}
const { id, checked = false, class: clazz, ...attrs } = Astro.props
---

<label
  for={id}
  class:list={['relative flex cursor-pointer items-center', clazz]}
  {...attrs}
>
  <input type='checkbox' id={id} class='sr-only' {checked} />
  <span
    class:list={[
      'bg-gray-200 dark:bg-gray-700 ',
      'border-gray-200 dark:border-gray-600',
      'toggle-bg h-6 w-11 rounded-full border'
    ]}></span>
</label>
